.envelope{
  color: white;
}

.ftli{
  color: white;
  padding: 10px;
}

.skyscraper{
  background-image: url('https://img.freepik.com/free-photo/empty-room-with-chairs-desks_23-2149008873.jpg?w=2000');
  background-size: cover;
  height: 500px;
  width: 100%;
}

.welcome{
  font-size: 50px;
  font-weight: 700;
}

.weteam{
  font-size: 22px;
}

.fafaicon{
  font-size: 40px;
  margin-top: 10px;
}

.bgstyle{
  background-color: aliceblue;
  color: black;
  padding: 10px;
}

@media screen and (max-width: 800px) {
  .bgstyle, .cominfo, .service, .contact {
    margin-top: 20px;
  }
}

.head{
  margin-top: 10px;
}

.about{
  text-align: center;
  padding-top: 30px;
}

.abtcontant{
  text-align: center;
}

.imggallry{
  height: 400px; 
  width: 350px;
  margin-top: 15px;
}

.imggallry2{
  height: 250px; 
  width: 350px;
  margin-top: 15px;
}

.ofcwork{
  height: 500px;
  width: 100%;
}

.home{
  background-color: white;
  border-radius: 50%;
  color: #106eea;
  padding: 20px;
}

.alogo
  {margin-top: 50px;
}

.smile{
  font-size: 20px;
  background-color: #106eea;
  color: white;
  padding: 10px;
  border-radius: 50%;
}

.cominfo{
  background-color: #f1f6fe;
  color: black;
  padding: 10px;
}

.service{
  background-color: white;
  color: black;
  padding: 60px 20px 60px 20px;
}

.fafaiconser{
  font-size: 25px;
  margin-top: 10px;
  background-color: aliceblue;
  color: #106eea;
  padding: 20px;
  border: 1px solid #106eea;
  border-radius: 5px;
}

.faq{
  margin-top: 5px;
  color: black;
}

.cardcontent{
  color: black;
}

.cardcontent:hover{
  color: #0d58ba
}

.location{
  font-size: 25px;    
  background-color: aliceblue;
  color: #106eea;
  padding: 10px 15px 10px 15px;
  border: 3px dotted #106eea;
  border-radius: 100%;
}

.ouraddres{
  text-align: center;
  padding: 20px;
  background-color: aliceblue;
}

.mail{
  font-size: 25px;    
  background-color: aliceblue;
  color: #106eea;
  padding: 10px;
  border: 3px dotted #106eea;
  border-radius: 100%;
}

.contact{
  background-color: aliceblue;
  color: black;
  padding: 20px;
  text-align: center;
}


.fbtn{
  text-align: center;
}

.joinour{
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
}

.joinourbtn{
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
}

.uselink{
  text-decoration: none;
  color: black;
  /* margin-left: 40px; */
}

.socialnet{
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  padding: 10px;
}

